{% extends 'FrontendBundle::main.html.twig' %}

{% block scriptFiles %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/pages/account.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="login-panel panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'Мой профиль' | trans }}</h3>
                    </div>

                    <div class="panel-body">

                        {% include 'FrontendBundle:forms:accountForm.html.twig' %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    Acount.init();
{% endblock %}