<div id="modal_window" class="hidden">
    <div class="modal_body">
        {% if modalWindow is defined %}
            {% include('GeneralBundle:partials:modalContent.html.twig') %}
        {% endif %}
    </div>
</div>