<button
    id="create-new-test"
    class="btn btn-success btn-large"
    title="{{ 'Cоздать тест' | trans }}"
    data-url="{{ path('get_test_type_form') }}"
>
    <i class="glyphicon glyphicon-plus"></i>
</button>