{% extends 'FrontendBundle::main.html.twig' %}

{% block scriptFiles %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/pages/new-test-type.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <h1>NEW TEST</h1>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    NewTestType.init();
{% endblock %}